{% extends 'base.html' %}

{% block content %}
<h1>{{test.certificate.name}} {{test}}</h1>
<ul class="nav nav-tabs">
    {% for subject in subjects %}
        <li class="nav-item">
        <a class="nav-link {%if subject.order is subjects.0.order %}active{%endif%}" data-toggle="tab" href="#tab{{subject.order}}">{{subject.order}}.{{subject.name}}</a>
        </li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'exam:report' test.id %}">
    {%csrf_token%}
        <div class="tab-content">
            {% for subject,questions in subjects_questions %}
                <div class="tab-pane fade {% if subject.order is subjects.0.order %}show active{% endif %}" id="tab{{subject.order}}">
                    {% for question in questions %}
                        {% include 'question.html'%}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    <div style="text-align:center;">
        <button type="submit">채점하기</button>
    </div>

</form>

{% endblock %}