{% extends 'base.html' %}

{% block content %}
    <h1>{{test.certificate.name}} {{test}} 채점결과</h1>
    <h2>{{test.point}}</h2>
    <h2 style="color:blue; margin-top:100px;">여기서부턴 맞춘문제 입니다.</h2>
    {% for question in test.o %}
        {% include 'checked_question.html' %}
    {% endfor %}

    <h2 style="color:red; margin-top:100px;">여기서부턴 틀린문제 입니다.</h2>
    {% for question in test.x %}
        {% if question.checked %}
            {% include 'checked_question.html' %}
        {% endif %}
    {% endfor %}

    <h2 style="color:red; margin-top:100px;">여기서부턴 풀지않은 문제 입니다.</h2>
    {% for question in test.x %}
        {% if not question.checked %}
            {% include 'checked_question.html' %}
        {% endif %}
    {% endfor %}

{% endblock %}

